*{
    margin: 0;
    padding: 0;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
footer{
    height: 12vh;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;

}
nav{
    display: flex;
    
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{
    width: 88px;
    padding: 0 25px;
} 
header{
    height: 58px;
    background-color:#2874f0;
    /* border: 2px solid red; */
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: #eee;
    text-decoration: none;
}

nav ul li a:hover{
 
    font-weight:bolder;
}
.search{
    display: flex;
    align-items: center;
    
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px  ;
    padding: 0 12px;
}
.btn{
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}
.search button{
    font-family: 'Lato',sans-serif;
    font-weight: 900;
}
.slider{
    
    width: 80vw;
    margin: 12px auto;
overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: auto;
}
.card h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.my-1{
    margin: 4px 0;
}
.text-center{
    margin: 0 54px;
}
.cards{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
@media screen and (max-width:1000px){
    .slider{
        height: 23vh;
    } 
    .nav{
        flex-direction: column;
    } 
    .logo{
    justify-content: center;
    margin: 12px 0;
    
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
        
    
    }
    .search input{
        margin: 12px 16px;
    }
    nav ul{
        height: 34px;
    
    }
    .card-item img{
        width: 140px;
    }
    }
    *before,
*after{
    padding: 0;
    margin: 0;
    box-sizing : border-box;
}

.popup{
    background-color: rgb(239, 241, 243);
    
    
width: 500px;
padding: 30px 40px;
position:absolute;
transform:translate(-50%,-50%);
height: 300px;
border-radius: 8px;
font-family:sans-serif;
text-align: center;
margin-top: 300px;
margin-left: 635px ;


}
.img{
    width: 116%;
    height:120%;
    margin-top: -28px;
    margin-left: -36px;
    border-radius: 0px;
}
 
.popup button{
    display: block;
    margin:  -346 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup h2{
   margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
a{
    display: block;
    width: 150px;
    position: relative;
    margin: 271px auto;
    text-align: center;
    background-color: #0f72e5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}
